
<%- include('partials/header.ejs'); -%>

<div class="card">
  <div class="card-body">
    <br>
    <br>
    <h1 class="card-title " ><%= mymeeting.title%></h1>
    <button class="btn btn-danger" onclick='deleteElement("<%= mymeeting._id %>")'>Delete</button>

    <hr>
    <h4 class="card-subtitle mb-2 text-muted ">Meeting Details</h4>
    <p class="card-text card-date "><%= mymeeting.date%></p>
    <p class="card-text card-location "><%= mymeeting.location%></p>
    <p class="card-text "><b>URL:</b> <%= mymeeting.meetinglink %></p>

    <hr class="">

    <h4 class="card-subtitle mb-2 text-muted ">Participants</h4>
    <select id='my-dropdown-participants ' class="form-select " aria-label="Participants">
      <% mymeeting.participants.forEach(function(participant) { %>
        <option value="<%= participant %>"><%= participant %></option>
      <% }); %>
    </select>

    <hr class="">

    <h4 class="card-subtitle mb-2 text-muted ">Topics</h4>
    <select id='my-dropdown-topics' class="form-select " aria-label="Topics">
      <% mymeeting.topics.forEach(function(topic) { %>
        <option value="<%= topic %>"><%= topic %></option>
      <% }); %>
    </select>
    <hr class="">

    <h4 class="card-subtitle mb-2 text-muted ">Description</h4>
    <p class="card-text "><%= mymeeting.description %></p>

    <hr class="">

    <h4 class="card-subtitle mb-2 text-muted">Language</h4>
    <select id='my-dropdown-languages' class="form-select" aria-label="languages">
      <option value="en-US">English</option>
      <option value="fr-FR">French</option>
    </select>
    
    <hr>
    
    <h4 class="card-subtitle mb-2 text-muted ">Transcript</h4>
    <br>
    <div id="transcript-display">
      <div class="tags-input">
        <br>
        <h3 class="">List of tags</h3>
        <ul class="" id="tagsList">
          <% mymeeting.tags.forEach(function(t) { %>
            <li><span style="background-color: <%= t.color %>;">
              <%= t.text %> : <%= t.tag %>
            </span></li>
          <% }); %>
        </ul>
        <br>
        <select class="tags-select" name="" id="">
          <option disabled selected>Choose a tag</option>
          <% tags.forEach(function(t) { %>
            <option style="background-color: <%= t.color %>;" value="<%= t.name + t.color %>"><%= t.name %></option>
          <% }); %>
        </select>
        <input type="text" id="tag-input" placeholder="Tag Word">
        <button onclick='addTag("<%= mymeeting._id %>")'>Submit tag</button>
        <br>
        <br>

      </div>
      <br class="">
      <ul id="transcript-list">
        <% mymeeting.transcription.forEach(function(sentence,index) { %>
          <li>
            <b>[<%= sentence["name"] %>]
              <span class="topic">(<%= sentence["topic"] %>)
              </span>
              <span>|<%= sentence["type"] %>|
              </span>
            </b>
            :&nbsp;&nbsp;&nbsp;
          <button class="note-toggle" onclick='toggleNote("<%= index %>")'>See comment</button>
          <button class="note-toggle" onclick='hideNote("<%= index %>")'>Hide comment</button>
          <button class="note-toggle" onclick='toggleedit("<%= index %>")'>Edit</button>
          <button class="note-toggle" onclick='hideedit("<%= index %>")'>Quit edit mode</button>
          <button class="note-toggle" onclick='deletetranscription("<%= index %>","<%= mymeeting._id %>")'>delete sentence</button>
          <select class="type-select-<%= index %>" onchange='changeType("<%= index %>","<%= mymeeting._id %>")'>
            <option value='<%= sentence["type"] %>' selected><%= sentence["type"] %></option>
            <% types.forEach(function(type) { %>
              <% if (type.name != sentence["type"]) { %>
                <option value="<%= type.name %>"><%= type.name %></option>
              <% } %>
                
            <% }); %>
          </select>
          
          <br>
          <div  class="form-control transcriptiontextcolored " type="text" >
            <%= sentence["transcription"] %>
          </div>
          <br class="">
          <textarea  class="form-control transcriptionText"  rows=3 id='transcription-<%= index %>' type="text"  onkeydown='editTranscription(event,"<%= index %>","<%= mymeeting._id %>")'><%= sentence["transcription"] %></textarea>
          <br>
          <textarea class="comment-input " id='comment-<%= index %>' onkeydown='saveComment(event,"<%= index %>","<%= mymeeting._id %>")'><%= sentence["comment"] %></textarea>
          <br>
          <br>
          </li>
          <br>
          <% }); %>
      </ul>
    </div>


    <button class="btn btn-primary" id="record-button" onclick='startRecording()'>Record</button>
    <button class="btn btn-success" id="save-button" onclick='saveRecording("<%= mymeeting._id %>")'>Save</button>

    <hr>

    <h4 class="card-subtitle mb-2 text-muted">Filters</h4>
    <div id="filter-display">

      <form id="filterForm">
        
        <h5><u>Topics filters:</u></h5>
        <% mymeeting.topics.forEach(function(topic) { %>
          <label>
            <input type="checkbox" name="topicfilter" value="<%= topic %>">
            <%= topic %>
          </label>
          <br>
        <% }); %>
        <h5><u>Participants filters:</u></h5>

        <% mymeeting.participants.forEach(function(participant) { %>
          <label>
            <input type="checkbox" name="participantfilter" value="<%= participant %>">
            <%= participant %>
          </label>
          <br>
        <% }); %>
        
        <h5><u>Types filters:</u></h5>

        <% types.forEach(function(type) { %>
          <label>
            <input type="checkbox" name="typefilter" value="<%= type.name %>">
            <%= type.name %>
          </label>
          <br>
        <% }); %>
        <br>
      <button type="submit">Apply Filters</button>
    </form>

    </div>
    <br>
    <br>
    
    <button id="downloadButton" onclick="download()">Download Card</button>

  </div>

</div>

      <script>
        
        (function() {
            var id = '<%= mymeeting._id %>';
            fetch('/getTags', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({_id:id})
          })
          .then(response => {
              return response.json();
          }).then(meetingTags=>{
            // handle the response from the server
            var textareas = document.getElementsByClassName('transcriptiontextcolored');
            for (var i = 0; i < textareas.length; i++) {
              var textarea = textareas[i];
              var text = textarea.innerHTML.trimStart();
              meetingTags.forEach(tag => {
                console.log(tag)
                var regex = new RegExp('\\b(' + tag.text + ')\\b', 'gi');
                text = text.replace(regex, '<span style="background-color: ' + tag.color + ';">$1</span>');
              });
              console.log(text);
              textarea.innerHTML = text;
            }              
          })
          .catch(error => {
            // handle any errors that occur during the request
            console.error(error);
          });
            

        })();

        let meetingtranscript =[];
        var button = document.getElementById("record-button");

        function deleteElement(id){
          console.log(id);
          fetch('/deleteElement', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({_id:id})
          })
          .then(response => {
            // handle the response from the server
            console.log(response);
            location.replace("/meetings")
          })
          .catch(error => {
            // handle any errors that occur during the request
            console.error(error);
          });
        }

        const startRecording = () => {
          const constraints = { audio: true };
          navigator.mediaDevices.getUserMedia({ audio: true })
          .then(stream => {
            const recognition = new window.webkitSpeechRecognition();
            recognition.continuous = true; // listen for speech until stopped
            recognition.lang = document.getElementById("my-dropdown-languages").value;
            recognition.start();

            recognition.addEventListener('result', event => {
              button.style.backgroundColor = "green";

              for (let i = event.resultIndex; i < event.results.length; i++) {
                const result = event.results[i];
                const transcriptionText = result[0].transcript;
                const speaker = document.getElementById("my-dropdown-participants").value;
                const topic = document.getElementById("my-dropdown-topics").value;
                if(transcriptionText.length>=2){
                  meetingtranscript.push({"name":speaker,"topic":topic,"transcription":transcriptionText,"comment":"","type":"Default"});
                }

                // Update the display with the current speaker and topic
                const display = document.getElementById("transcript-list");
                const currentLine = document.createElement("li");
                currentLine.innerHTML = `<b>${speaker} (${topic}):</b> ${transcriptionText}`;
                display.appendChild(currentLine);
              }
            });

            recognition.addEventListener('end', () => {
              button.style.backgroundColor = "#2980B9";

              // Speech recognition has ended
              console.log('Speech recognition has ended.');

              // Stop the media stream
              stream.getTracks().forEach(track => track.stop());
            });
          })
          .catch(error => {
            console.error('Error accessing microphone:', error);
          });

        };


        const saveRecording = async (id) => {
          console.log(meetingtranscript);
          recording = false;
          let options = {
            method: "POST",
            body: JSON.stringify({"id":id,"transcription":meetingtranscript}),
            headers: {
              'Content-Type': 'application/json'
            },
          };
          fetch("/save-audio", options)
          .then(response => {
            if (!response.ok) {
              throw new Error("Failed to upload audio");
            }
            console.log("Transcript uploaded successfully");
            console.log(response.message);
            location.reload();
          })
          .catch(error => {
            console.log("error");
            console.error(error);
          });
        };
        function toggleNote(index) {
          const noteDiv = document.getElementById("comment-" + index.toString());
          noteDiv.style.display = 'block';
        }
        function hideNote(index) {
          const noteDiv = document.getElementById("comment-" + index.toString());
          noteDiv.style.display = 'none';
        }
        function toggleedit(index) {
          const noteDiv = document.getElementById("transcription-" + index.toString());
          noteDiv.style.display = 'block';
        }
        function hideedit(index) {
          const noteDiv = document.getElementById("transcription-" + index.toString());
          noteDiv.style.display = 'none';
        }
        function deletetranscription(index,meetingId){
          console.log(meetingId);
            let options = {
              method: "POST",
              body: JSON.stringify({"meetingId":meetingId,"transcriptionId":index}),
              headers: {
                'Content-Type': 'application/json'
              },
            };
            fetch("/delete-transcription", options)
            .then(response => {
              if (!response.ok) {
                throw new Error("Failed to delete transcription");
              }
              console.log("transcription deleted successfully");
              console.log(response.message);
              location.reload();
            })
            .catch(error => {
              console.log("error");
              console.error(error);
            });
        }

        function changeType(sentanceid,meetingId) {
          // Perform actions after selecting an option
          // For example, retrieve the selected value
          var selectedValue = document.querySelector('.type-select-'+sentanceid).value;
          let options = {
              method: "POST",
              body: JSON.stringify({"meetingId":meetingId,"sentanceid":sentanceid,"type":selectedValue}),
              headers: {
                'Content-Type': 'application/json'
              },
            };
            fetch("/change-type", options)
            .then(response => {
              if (!response.ok) {
                throw new Error("Failed to edit type");
              }
              console.log("type added successfully");
              console.log(response.message);
            })
            .catch(error => {
              console.log("error");
              console.error(error);
            });          
        }
        function addTag(meetingId){
          let tagInput= document.getElementById("tag-input").value;
          let tagObj = document.querySelector('.tags-select').value;
          let tagarr = tagObj.split("#");
          var selectedTag = tagarr[0] ;
          var color = "#"+tagarr[1];

          if(tagInput.length===0 || selectedTag==="Choose a tag"){
            alert("Please verify that you filled all the required parameters!!");
          }else{
            console.log(selectedTag);
            console.log(tagInput);
            let options = {
                method: "POST",
                body: JSON.stringify({"meetingId":meetingId,"tag":selectedTag,"color":color,"input":tagInput}),
                headers: {
                  'Content-Type': 'application/json'
                },
              };
              fetch("/add-tag", options)
              .then(response => {
                if (!response.ok) {
                  throw new Error("Failed to add tag");
                }
                console.log("tag added successfully");
                var ul = document.getElementById("tagsList");
                var li = document.createElement("li");
                var span = document.createElement("span");
                span.style.backgroundColor = color;
                var textNode = document.createTextNode(tagInput + " : " + selectedTag);
                span.appendChild(textNode);
                li.appendChild(span);
                ul.appendChild(li);
                document.getElementById("tag-input").value ="";
                document.querySelector('.tags-select').selectedIndex = 0;
              })
              .catch(error => {
                console.log("error");
                console.error(error);
              });  

          }
        }
        function saveComment(event,commentId,meetingId){
          if (event.keyCode === 13) {
            // 13 is the keyCode for Enter key
            event.preventDefault(); // Prevent the default behavior of Enter key in the textarea
            let commentContent= document.getElementById("comment-"+commentId.toString()).value;
            let options = {
              method: "POST",
              body: JSON.stringify({"meetingId":meetingId,"commentId":commentId,"commentContent":commentContent}),
              headers: {
                'Content-Type': 'application/json'
              },
            };
            fetch("/save-comment", options)
            .then(response => {
              if (!response.ok) {
                throw new Error("Failed to upload audio");
              }
              console.log("Comment added successfully");
              console.log(response.message);
              location.reload();
            })
            .catch(error => {
              console.log("error");
              console.error(error);
            });
          }
        }

        function editTranscription(event,transcriptionId,meetingId){
          if (event.keyCode === 13) {
            // 13 is the keyCode for Enter key
            event.preventDefault(); // Prevent the default behavior of Enter key in the textarea
            let transcriptionContent= document.getElementById("transcription-"+transcriptionId.toString()).value;
            let options = {
              method: "POST",
              body: JSON.stringify({"meetingId":meetingId,"transcriptionId":transcriptionId,"transcriptionContent":transcriptionContent}),
              headers: {
                'Content-Type': 'application/json'
              },
            };
            fetch("/update-transcription", options)
            .then(response => {
              if (!response.ok) {
                throw new Error("Failed to upload audio");
              }
              console.log("transcription updated successfully");
              console.log(response.message);
              location.reload();
            })
            .catch(error => {
              console.log("error");
              console.error(error);
            });
          }
        }
        document.getElementById("filterForm").addEventListener("submit", function(event) {
          event.preventDefault(); // Prevents the form from being submitted and the page from refreshing
          
          var transcriptItems = document.querySelectorAll("#transcript-list li");
          transcriptItems.forEach(function(item) {
            item.style.display = "block";
          });
          var checkedParticipants = [...document.getElementsByName("participantfilter")].filter(c=>c.checked).map(c=>c.value);
          var checkedTopics = [...document.getElementsByName("topicfilter")].filter(c=>c.checked).map(c=>c.value);
          var checkedTypes = [...document.getElementsByName("typefilter")].filter(c=>c.checked).map(c=>c.value);

          transcriptItems.forEach(function(item) {
              var text = item.querySelector("b").textContent;

              var regex1 = /\[(.*?)\]/g;
              var participant = (text.match(regex1)[0]).slice(1, -1);

              var regex2 =  /\((.*?)\)/g;
              var topic = (text.match(regex2)[0]).slice(1,-1);

              var regex3 =  /\|(.*?)\|/g;
              var type = (text.match(regex3)[0]).slice(1,-1);

              if(!checkedTopics.includes(topic) && !checkedParticipants.includes(participant) && !checkedTypes.includes(type)){
                  item.style.display = "none";
              }

          });

        });

        function download(){
          (function() {
              var id = '<%= mymeeting._id %>';
              fetch('/getmeeting', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({_id:id})
            })
            .then(response => {
                return response.json();
            }).then(meeting=>{
              
              // Create a container element to hold the elements
              var container = document.createElement('div');

              // Iterate through the meeting variable and append them to the container
              var titleElement = document.createElement('h1');
              titleElement.classList.add('card-title');
              titleElement.textContent = meeting.title;
              container.appendChild(titleElement);

              container.appendChild(document.createElement('hr'));

              // Add meeting details
              var meetingDetailsSubtitle = document.createElement('h2');
              meetingDetailsSubtitle.classList.add('card-subtitle', 'mb-2', 'text-muted');
              meetingDetailsSubtitle.textContent = 'Meeting Details';
              container.appendChild(meetingDetailsSubtitle);

              var dateElement = document.createElement('p');
              dateElement.classList.add('card-text', 'card-date');
              dateElement.textContent = meeting.date;
              container.appendChild(dateElement);

              var locationElement = document.createElement('p');
              locationElement.classList.add('card-text', 'card-location');
              locationElement.textContent = meeting.location;
              container.appendChild(locationElement);

              var urlElement = document.createElement('p');
              urlElement.classList.add('card-text');
              urlElement.innerHTML = '<b>URL:</b> ' + meeting.meetinglink;
              container.appendChild(urlElement);

              container.appendChild(document.createElement('hr'));

              // Add participants
              var participantsSubtitle = document.createElement('h2');
              participantsSubtitle.classList.add('card-subtitle', 'mb-2', 'text-muted');
              participantsSubtitle.textContent = 'Participants';
              container.appendChild(participantsSubtitle);

              var participantsDropdown = document.createElement('select');
              participantsDropdown.id = 'my-dropdown-participants';
              participantsDropdown.classList.add('form-select');
              participantsDropdown.setAttribute('aria-label', 'Participants');
              meeting.participants.forEach(function (participant) {
                var option = document.createElement('option');
                option.value = participant;
                option.textContent = participant;
                participantsDropdown.appendChild(option);
              });
              container.appendChild(participantsDropdown);

              container.appendChild(document.createElement('hr'));

              // Add topics
              var topicsSubtitle = document.createElement('h2');
              topicsSubtitle.classList.add('card-subtitle', 'mb-2', 'text-muted');
              topicsSubtitle.textContent = 'Topics';
              container.appendChild(topicsSubtitle);

              var topicsDropdown = document.createElement('select');
              topicsDropdown.id = 'my-dropdown-topics';
              topicsDropdown.classList.add('form-select');
              topicsDropdown.setAttribute('aria-label', 'Topics');
              meeting.topics.forEach(function (topic) {
                var option = document.createElement('option');
                option.value = topic;
                option.textContent = topic;
                topicsDropdown.appendChild(option);
              });
              container.appendChild(topicsDropdown);

              container.appendChild(document.createElement('hr'));

              // Add description
              var descriptionSubtitle = document.createElement('h2');
              descriptionSubtitle.classList.add('card-subtitle', 'mb-2', 'text-muted');
              descriptionSubtitle.textContent = 'Description';
              container.appendChild(descriptionSubtitle);

              var descriptionElement = document.createElement('p');
              descriptionElement.classList.add('card-text');
              descriptionElement.textContent = meeting.description;
              container.appendChild(descriptionElement);

              container.appendChild(document.createElement('hr'));

              //Transcription
              var transcriptionSubtitle = document.createElement('h2');
              transcriptionSubtitle.classList.add('card-subtitle', 'mb-2', 'text-muted');
              transcriptionSubtitle.textContent = 'Transcription';
              container.appendChild(transcriptionSubtitle);

              console.log(meeting);
              meeting.topics.forEach(function (topic) {
              var topicelement = document.createElement('h3');
              topicelement.textContent = topic;
              container.appendChild(topicelement);
              var ulElement = document.createElement('ul');

              meeting.transcription.forEach(function (transcription) {
                if (transcription.topic === topic) {
                  var liElement = document.createElement('li');
                  let transcriptTexttoAdd =  transcription.transcription;
                  meeting.tags.forEach(t=>{
                    console.log(t);
                    transcriptTexttoAdd=transcriptTexttoAdd.replace(t.text,'<span style="font-weight: bold; color: '+t.color+';">' + t.text +"["+t.tag+"]" + ' </span>')
                    console.log(transcriptTexttoAdd);
                  });
                  liElement.innerHTML =
                    '<span style="color: blue;">' + transcription.name + ': </span>';
                     
                     if(transcription.comment.length>0){
                      liElement.innerHTML += ' <span style="color: #07BE20; font-weight: bold;">(' + transcription.comment +') </span> - ' ;
                     }
                     liElement.innerHTML += '<span style="color: red; font-weight: bold;">' + transcription.type +'</span><br>';
                     liElement.innerHTML += transcriptTexttoAdd;
                  ulElement.appendChild(liElement);
                }
              });

              container.appendChild(ulElement);

            });

              // Get the HTML content of the container
              var htmlContent = container.innerHTML;

              // Create a new blob with the HTML content
              var blob = new Blob([htmlContent], {type: 'text/html'});

              // Create a temporary URL for the blob
              var url = URL.createObjectURL(blob);

              // Create a link element
              var link = document.createElement('a');
              link.href = url;
              link.download = 'Meeting report.html';

              // Simulate a click event to trigger the download
              link.click();

              // Clean up the temporary URL object
              URL.revokeObjectURL(url);
            })
            .catch(error => {
              // handle any errors that occur during the request
              console.error(error);
            });
          })();

    }
      </script>

<%- include('partials/footer.ejs'); %>