
<%- include('partials/header.ejs'); -%>
<div class="container-fluid">
  <div class="row">
    <% meetings.forEach(function(element){ %>
      <div >
        <div class="card mb-3">
          <div class="card-body" id=<%= element._id%>>
            <h1 class="card-title"><%= element.title %></h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Date:</strong> <%= element.date%></li>
              <li class="list-group-item"><strong>Location:</strong> <%= element.location%></li>
              <li class="list-group-item"><strong>Meeting Url:</strong> <%= element.meetinglink%></li>
              <li class="list-group-item"><strong>Participants:</strong> <%= element.participants%></li>
              <li class="list-group-item"><strong>Topics:</strong> <%= element.topics%></li>
            </ul>
            <button class="btn btn-primary mt-3"><a href="/meetings/<%=element._id%>" class="text-white">Read More</a></button>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>


<%- include('partials/footer.ejs'); %>